{%- if template.name == 'page' or template.name == 'blog' or template == 'customers/account' or template == 'customers/order' or template == 'customers/addresses' -%}
  {%- assign add_top_margin = true -%}
{%- else -%}
  {%- assign add_top_margin = false -%}
{%- endif -%}

<footer id="section-{{ section.id }}" class="Footer {% if section.blocks.size <= 2 %}Footer--center{% endif %} {% if add_top_margin %}Footer--withMargin{% endif %}" role="contentinfo">
  <div class="Container">
    <div class="Footer__Inner">
      {%- for block in section.blocks -%}
        <div class="Footer__Block Footer__Block--{{ block.type }}" {{ block.shopify_attributes }}>
          {%- case block.type -%}
            {%- when 'text' -%}
             {%- if block.settings.logo != blank -%}
               <img src="{{ block.settings.logo | img_url: '378x378' }}">
              {%- endif -%}
              {%- if block.settings.content != blank -%}
                <div class="Footer__Content Rte">
                  {{ block.settings.content }}
                </div>
              {%- endif -%}
              {%- if block.settings.title != blank -%}
                <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
              {%- endif -%}

              {%- if block.settings.show_social_media -%}
                {% include 'social-media', class: 'Footer__Social', spacing: 'loose' %}
              {%- endif -%}

            {%- when 'links' -%}
              {%- assign linklist = linklists[block.settings.menu] -%}

              {%- if linklist != empty -%}
                <h2 class="Footer__Title Heading u-h6">{{ linklist.title | escape }}</h2>

                <ul class="Linklist">
                  {%- for link in linklist.links -%}
                    <li class="Linklist__Item">
                      <a href="{{ link.url }}" class="Link Link--primary">{{ link.title | escape }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}

            {%- when 'newsletter' -%}
              {%- if block.settings.title != blank -%}
                <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
              {%- endif -%}

              {%- if block.settings.content != blank -%}
                <div class="Footer__Content Rte">
                  {{ block.settings.content }}
                </div>
              {%- endif -%}

              {%- form 'customer', id: 'footer-newsletter', class: 'Footer__Newsletter Form' -%}
                {%- if form.posted_successfully? -%}
                  <p class="Form__Alert Alert Alert--success">{{ 'footer.newsletter.success' | t }}</p>
                {%- else -%}
                  {%- if form.errors -%}
                    <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
                  {%- endif -%}

                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email" name="contact[email]" class="Form__Input" aria-label="{{ 'footer.newsletter.input' | t }}" placeholder="{{ 'footer.newsletter.input' | t }}" required>
                  <button type="submit" class="Form__Submit Button Button--primary">{{ 'footer.newsletter.submit' | t }}</button>
                {%- endif -%}
              {%- endform -%}
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>

    

    {% comment %} <div class="Footer__Aside"> {% endcomment %}
      {% comment %} <div class="Footer__Copyright">
        <a href="{{ shop.url }}" class="Footer__StoreName Heading u-h7 Link Link--secondary">© {{ shop.name }}</a>

        {%- capture maestrooo_link -%}<a href="https://www.maestrooo.com" class="Link Link--primary" target="_blank" rel="noopener">Maestrooo</a>{%- endcapture -%}
        <p class="Footer__ThemeAuthor">{{ 'footer.general.credits_html' | t: maestrooo_link: maestrooo_link }} | {{ powered_by_link | replace: '<a', '<a class="Link Link--primary"' }}</p>
      </div> {% endcomment %}

      {% comment %} {%- if section.settings.show_payment_methods -%}
        {%- capture payment_methods -%}
          {% assign enabled_payment_types = 'maestro,visa,master,american_express,jcb,paypal' | remove: ' ' | split: ',' %}
{% for type in enabled_payment_types %}
          {%- endfor -%}
        {%- endcapture -%}

        {%- if payment_methods != blank -%}
          <ul class="Footer__PaymentList HorizontalList">
            {{ payment_methods }}
          </ul>
        {%- endif -%}
      {%- endif -%} {% endcomment %}
    {% comment %} </div> {% endcomment %}
<style>
  .methods-of-payment img { padding: 0.2em; }
  .lt-ie9 .methods-of-payment, .ie8 .methods-of-payment, .oldie .methods-of-payment { display: none; }
</style>
<span class="methods-of-payment">
  <img src="{{ 'american_express' | payment_type_img_url }}" height="35" alt="american express" />
  <img src="{{ 'jcb' | payment_type_img_url }}" height="35" alt="jcb" />
  <img src="{{ 'maestro' | payment_type_img_url }}" height="35" alt="maestro" />
  <img src="{{ 'master' | payment_type_img_url }}" height="35" alt="master" />
  <img src="{{ 'paypal' | payment_type_img_url }}" height="35" alt="paypal" />
  <img src="{{ 'visa' | payment_type_img_url }}" height="35" alt="visa" />
</span>
  </div>
  
</footer>

<section class="filter-bar filter-bar--footer">
  <div class="filter-bar__container">
    <div class="filter-bar__item">
      <a href="{{ section.settings.mobile-1 }}" class="filter-bar__item-link">
        <svg id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style type="text/css">.st0{fill:none;stroke:#000000;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st1{fill:none;stroke:#000000;stroke-width:10;stroke-miterlimit:10;}</style><g><path class="st0" d="M213.4,143c24.2,3.3,48.4,6.7,72.6,10c9.5,1.3,19.1,2.6,28.6,4 M331.6,159c0.3,0,0.7,0.1,1,0.1 M350,161.9   c7,1,14,1.9,21,2.9c18.7,2.6,37.4,5.1,56,7.7c6,0.8,9.7,5.1,9.7,11.2c0,30,0.2,60-0.1,90.1c-0.2,24.6-19.5,43.8-44.2,43.8   c-39.7,0.1-79.3,0.1-119,0.1 M245.6,317.6c-22.3,0-44.7,0-67,0c-7.2,0-14.1-1.6-20.5-4.8c-0.6-0.3-1.4-0.5-2.2-0.9   c0,10.9-0.7,21.5,0.2,32c0.9,10.9,10,18.6,21.1,19.2c1.8,0.1,3.5,0.1,5.3,0.1c30.3,0,52.8,0,83.1,0 M281.6,363.3c0.4,0,0.8,0,1.1,0    M299.1,363.3c27,0,54,0,81,0c12.2,0,22.9,3.9,30.9,11 M421.8,389.1c0.5,1.2,1,2.4,1.5,3.6c9,25.1-7.3,52.8-33.7,57.2   c-0.7,0.1-1.4,0.5-2.1,0.7c-3.5,0-7.1,0-10.6,0c-0.7-0.2-1.4-0.6-2.1-0.7c-26.3-4.6-42.4-31.6-33.7-56.8c0.9-2.6,2-5.1,3-7.7   c-32.1,0-64,0-96.2,0c0.5,1.1,0.8,1.7,1.1,2.4c10.9,22.6,1.2,49.2-21.8,59.1c-3.7,1.6-7.6,2.5-11.4,3.7c-3.8,0-7.6,0-11.4,0   c-0.7-0.2-1.4-0.6-2.1-0.7c-23.5-4.2-39.3-26.5-35.1-50.1c0.9-5.2,3-10.1,4.7-15.3c-1-0.2-2.5-0.6-4-0.9c-7-1.7-13.3-4.9-18.6-9.7   c-4-3.6-7.2-7.6-9.6-12 M134.1,340.7c0-0.7,0-1.5,0-2.2c0.1-42.9,0.1-85.9,0.1-128.8 M134.1,191.1c0-27.5,0-55,0.1-82.6   c0-3.3-1-4.8-4.1-6.1c-12.9-5.3-25.7-10.8-38.6-16.2 M79.7,80.9c-1.7-1.2-3.1-2.8-3.9-5.1c-2.1-5.9,0.4-10.7,7.6-14.4   c1.8,0,3.5,0,5.3,0c13.6,5.8,27.1,11.6,40.7,17.4c5.6,2.4,11.2,4.7,16.8,7c7.9,3.3,9.4,5.6,9.4,14c0,10.3,0,20.5,0,30.8   c0,1.4,0,2.7,0,4.3c11.1,1.5,22.1,3.1,32.9,4.6"/><path class="st1" d="M382.1,385c-12,0.1-22.1,10.2-21.9,22.1c0.2,11.9,10,21.6,21.9,21.7c12.1,0.1,22-9.8,22-21.9   C404.2,394.8,394.3,385,382.1,385z"/><path class="st1" d="M210,428.8c12.2-0.1,21.9-9.9,21.8-22.1c-0.1-12.2-10-21.9-22.1-21.7c-12,0.2-21.6,9.9-21.7,21.9   C188,419,197.9,428.9,210,428.8z"/></g></svg>
        {{ section.settings.mobile-1-text }}
      </a>
    </div>
    <div class="filter-bar__item">
      <a href="{{ section.settings.mobile-2 }}" class="filter-bar__item-link">
        <svg enable-background="new 0 0 96 96" id="Layer_1" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path clip-rule="evenodd" d="   M42.822,20.13c10.422,7.21,18.155,16.876,24.795,24.796l-3.223,3.224l-0.133-0.132c0.012-0.751-0.268-1.505-0.84-2.078   c-1.076-1.075-1.621-0.383-2.662-1.426c-1.016-1.015-0.33-1.565-1.404-2.64c-1.076-1.076-1.615-0.379-2.684-1.448   c-1.016-1.015-0.33-1.565-1.404-2.64c-1.076-1.076-1.611-0.375-2.707-1.47c-0.957-0.958-0.287-1.524-1.359-2.597   c-1.076-1.075-1.615-0.379-2.684-1.447l-0.916-0.917l-2.26,2.26c-0.661,0.661-1.745,0.661-2.405,0L29.185,19.865   c-0.234-0.233-0.234-0.617,0-0.852v-0.001C32.013,16.184,37.973,16.775,42.822,20.13z" fill="none" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="2.6131" stroke-width="1.4173"/><path clip-rule="evenodd" d="   M68.92,44.368l1.541,1.541c0.221,0.221,0.221,0.581,0,0.802l-4.17,4.17c-0.221,0.221-0.58,0.221-0.801,0l-1.541-1.54   c-0.221-0.221-0.221-0.582,0-0.802l4.17-4.171C68.34,44.148,68.699,44.148,68.92,44.368z" fill="none" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="2.6131" stroke-width="1.4173"/><g><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="67.398" x2="69.652" y1="45.177" y2="47.431"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="66.518" x2="68.771" y1="46.057" y2="48.312"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="65.639" x2="67.893" y1="46.938" y2="49.192"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="64.758" x2="67.012" y1="47.818" y2="50.072"/></g><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="31.076" x2="45.969" y1="18.091" y2="32.985"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="28.387" x2="23.246" y1="22.209" y2="25.022"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="31.082" x2="25.664" y1="25.035" y2="28.81"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="33.38" x2="28.027" y1="27.29" y2="31.88"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="35.766" x2="31.59" y1="29.72" y2="34.339"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="38.447" x2="34.533" y1="31.959" y2="37.104"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="41.19" x2="37.753" y1="34.569" y2="40.634"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="21.459" x2="16.318" y1="26.064" y2="28.877"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="36.99" x2="33.553" y1="41.859" y2="47.924"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="33.817" x2="29.902" y1="38.157" y2="43.301"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="30.694" x2="26.518" y1="35.431" y2="40.05"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="26.894" x2="21.541" y1="32.869" y2="37.459"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="24.545" x2="19.127" y1="29.592" y2="33.368"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="25.311" x2="20.276" y1="26.436" y2="29.422"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="28.333" x2="23.085" y1="29.289" y2="33.282"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="31.006" x2="26.281" y1="32.183" y2="36.744"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="33.959" x2="29.721" y1="34.924" y2="39.911"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="37.317" x2="33.654" y1="37.171" y2="42.566"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="30.018" x2="26.595" y1="23.584" y2="25.666"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="32.755" x2="29.424" y1="25.89" y2="28.395"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="35.023" x2="31.923" y1="28.266" y2="31.182"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="37.545" x2="34.823" y1="30.599" y2="33.831"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="40.02" x2="37.881" y1="33.157" y2="36.233"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="18.88" x2="13.845" y1="30.125" y2="33.113"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="22.086" x2="16.839" y1="34.002" y2="37.996"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="25.078" x2="20.352" y1="38.01" y2="42.57"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="28.721" x2="24.484" y1="41.132" y2="46.119"/><line clip-rule="evenodd" fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" stroke-width="0.7087" x1="32.835" x2="29.172" y1="43.805" y2="49.2"/><path clip-rule="evenodd" d="   M69.27,47.817c4.508,4.031,5.346,9.662,6.154,15.089c0.824,5.542,1.611,10.845,6.73,13.01l-1.219,2.876   c-6.738-2.85-7.654-9.004-8.609-15.436c-0.727-4.877-1.549-9.898-5.205-13.166L69.27,47.817z" fill="none" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="2.6131" stroke-width="1.4173"/></g></svg>
        {{ section.settings.mobile-2-text }}
      </a>
    </div>
    <div class="filter-bar__item">
      <a href="{{ section.settings.mobile-3 }}" class="filter-bar__item-link">
        <svg enable-background="new 0 0 512 512" id="Calque_1" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="   M56.751,201.382c23.95-87.568,104.09-151.93,199.25-151.93c95.16,0.001,175.3,64.361,199.25,151.931" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/><polyline fill="none" points="   91.958,182.142 56.89,201.382 37.648,166.316  " stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/><path d="   M455.251,310.619C431.302,398.188,351.16,462.55,256.001,462.55c-95.16,0-175.3-64.36-199.25-151.931" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/><polyline fill="none" points="   420.044,329.861 455.112,310.619 474.354,345.685  " stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><g><g><path d="    M337.348,259.586l-72.65-151.035c-1.607-3.35-4.98-5.478-8.729-5.478c-3.64,0-7.063,2.128-8.671,5.478l-72.602,151.035    c-8.032,16.742-14.936,31.206-14.936,53.745c0,52.745,43.207,95.596,96.21,95.596c53.113,0,96.269-42.851,96.269-95.596    C352.24,290.792,345.382,276.33,337.348,259.586z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g></g></svg>
        {{ section.settings.mobile-3-text }}
      </a>
    </div>
    <div class="filter-bar__item">
      <a href="{{ section.settings.mobile-4 }}" class="filter-bar__item-link">
        <svg enable-background="new 0 0 24 24" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"   xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M22.5172,14.5354   v0.9361c0,3.3944-2.5189,6.0639-5.9133,6.0639H7.4305c-3.3944,0-5.9133-2.6695-5.9133-6.0639v-0.9361" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="0.5"/><line fill="none" stroke="#000000"   stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="6.2904" x2="5.5054" stroke-width="0.5" y1="21.4309" y2="23.353"/><line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.7967" stroke-width="0.5" x2="18.5817" y1="21.4309" y2="23.353"/><line fill="none" stroke="#000000" stroke-linecap="round" stroke-width="0.5" stroke-linejoin="round" stroke-miterlimit="10" x1="19.5172" x2="23.3654" y1="14.5354" y2="14.5354"/><line fill="none" stroke="#000000" stroke-linecap="round"  stroke-width="0.5" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5686" x2="15.5172" y1="14.5354" y2="14.5354"/><rect fill="none" height="5" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" stroke-miterlimit="10" width="4" x="15.5172" y="13.5354"/><line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" stroke-miterlimit="10" x1="15.5172" x2="19.5172" y1="16.5354" y2="16.5354"/><path d="M5.0342,8.3077   c0.7056,0,1.275-0.5666,1.275-1.2714c0-0.7056-0.5694-1.2714-1.275-1.2714c-0.7,0-1.269,0.5658-1.269,1.2714   C3.7652,7.7411,4.3342,8.3077,5.0342,8.3077z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" stroke-miterlimit="10"/><path d="M10.4847,12.2773   c0.9864,0,1.7814-0.792,1.7814-1.777c0-0.9849-0.795-1.7753-1.7814-1.7753c-0.9781,0-1.7723,0.7904-1.7723,1.7753   C8.7125,11.4853,9.5067,12.2773,10.4847,12.2773z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" stroke-miterlimit="10"/><path d="M8.0445,3.1483   c0.6058,0,1.0993-0.4941,1.0993-1.1024c0-0.6052-0.4936-1.1004-1.0993-1.1004c-0.6094,0-1.1024,0.4951-1.1024,1.1004   C6.942,2.6542,7.4351,3.1483,8.0445,3.1483z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" stroke-miterlimit="5"/></g><rect fill="none" height="24" width="24" x="0.0142" y="0.0354"/></svg>
        {{ section.settings.mobile-4-text }}
      </a>
    </div>
  </div>

  <script>
  var MutationObserver = window.MutationObserver || window.WebKitMutationObserver || window.MozMutationObserver

var slide = document.getElementById('sidebar-cart')
var pageContent = document.querySelector('.PageContainer')
 
// document.querySelector('#btn').addEventListener('click', toggleAriaHiddenRole)

var slideObserver = new MutationObserver(function(mutations) {
  mutations.forEach(function(mutation) {
    if (mutation.type == "attributes") {
      
      // here you can play with it now :)
      if (mutation.target.getAttribute('aria-hidden') == "true") {
        console.log('XXXXX ok. aria-hidden is true')  
        pageContent.classList.remove("blur");
      } else {
        console.log('XXXXX :s aria-hidden is false')  
        pageContent.classList.add("blur");
      }      
    }
  });
});

slideObserver.observe(slide, {
  attributes: true, //configure it to listen to attribute changes
  attributeFilter: ['aria-hidden'] // filter your attributes
});

function changeAriaHiddenRole(element, boolean) {
  element.setAttribute('aria-hidden', boolean)
}
  
</script>

</section>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_methods",
      "label": "Show payment methods",
      "info": "Payment method icons are automatically displayed based on your Shopify payment methods.",
      "default": true
    },
    {
      "type": "url",
      "id": "mobile-1",
      "label": "#1 icon"
    },
    {
      "type": "text",
      "id": "mobile-1-text",
      "label": "#1 icon"
    },
    {
      "type": "url",
      "id": "mobile-2",
      "label": "#2 icon"
    },
    {
      "type": "text",
      "id": "mobile-2-text",
      "label": "#2 icon text"
    },
    {
      "type": "url",
      "id": "mobile-3",
      "label": "#3 icon"
    },
    {
      "type": "text",
      "id": "mobile-3-text",
      "label": "#3 icon text"
    },
    {
      "type": "url",
      "id": "mobile-4",
      "label": "#4 icon"
    },
    {
      "type": "text",
      "id": "mobile-4-text",
      "label": "#4 icon text"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        
       {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo",
          "info": "340 x 80px jpg recommended"
        },      
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme settings.</p>"
        },
         {
          "type": "text",
          "id": "title",
          "label": "@Follow",
          "default": "About the shop"
        },
        {
          "type": "checkbox",
          "id": "show_social_media",
          "label": "Show social media",
          "info": "Make sure to have properly configured your social media in the theme settings.",
          "default": true
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items."
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {}
      },
      {
        "type": "links",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "newsletter",
        "settings": {}
      }
    ]
  }
}
{% endschema %}