{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "wrapAround": true,
  "dragThreshold": 16,
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %},
  "autoPlay": {% if section.settings.autoplay %}{{ section.settings.cycle_speed | times: 1000 }}{% else %}false{% endif %}
}
{%- endcapture -%}

{%- assign should_show_nav = false -%}

{%- for block in section.blocks -%}
  {%- if block.settings.logo -%}
    {%- assign should_show_nav = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

  <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">

    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>


<style>

.owl-nav{
left: 50%;
position: absolute;
bottom: -30px;
  display:block;


}
  .owl-nav button span {
font-size: 30px;
display: inline-block;
line-height: 1;
}
  
  
.owl-nav button {
border: 1px solid #000 !important;
width: 40px;
height: 40px;
z-index: 999;
border-radius: 50px;
margin-left: 9px;
/* top: 42px !important; */
}
</style>

<section class="Section Section--spacingNormal" id="section-{{ section.id }}">
  <div class="owl-carousel">
    {%- for block in section.blocks -%}
    
      <div id="block-{{ block.id }}" class="item">
        <div class="review-box">
          <div class="authore-imge">
            <img src="{{ block.settings.author-img | img_url: '378x378' }}">
          </div>
          <div class="content-area">
            <div class="list-content">
            <h2>{{block.settings.auther_name}}</h2>
            <h3>{{block.settings.verified}}</h3>
            <h4>{{block.settings.date}}</h4>
              <div class="retaing-stars-full"><img class="star-retings" src="{{ block.settings.rating-img | img_url: '378x378' }}"></div>
            </div>
            <h5>{{block.settings.review_title}}</h5>
            <p>{{block.settings.quote}}</p>
          </div>
          <div class="product-name">
            <h6>{{block.settings.productname}}</h6>
          </div>
        </div>  
        
      </div>
    {%- endfor -%}
  </div>
</section>

<style>
  #section-{{ section.id }} {
    color: {{ section.settings.text_color }};
    background: {{ section.settings.background }};
  }

  #section-{{ section.id }} .flickity-page-dots .dot:not(.is-selected) {
    border-color: {{section.settings.background | color_mix: section.settings.text_color, 85}};
  }
</style>

{% schema %}
{
  "name": "Testimonials",
  "class": "shopify-section--bordered",
  "max_blocks": 6,
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between testimonials",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "sec",
      "label": "Change testimonials every",
      "default": 5
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#eaeaea"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1c1b1b"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "author-img",
          "label": "Aurhor Image",
          "info": "340 x 80px jpg recommended"
        },
        {
          "type": "text",
          "id": "auther_name",
          "label": "Aurhor Name"
        },
        {
          "type": "text",
          "id": "verified",
          "label": "verified Our Not"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Review Date"
        },
        {
          "type": "image_picker",
          "id": "rating-img",
          "label": "Star Reting",
          "info": "340 x 80px jpg recommended"
        },
        {
          "type": "text",
          "id": "review_title",
          "label": "Review Title"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Quote",
          "default": "<p>Share what your customers are saying about your products, your company...</p>",
          "info": "For best results, keep the word count consistent in each quote."
        },
        {
          "type": "text",
          "id": "productname",
          "label": "Product Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Testimonials",
      "settings": {},
      "blocks": [
        {
          "type": "testimonial",
          "settings": {}
        },
        {
          "type": "testimonial",
          "settings": {}
        },
        {
          "type": "testimonial",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}

<script type="text/javascript">
  jQuery('.owl-carousel').owlCarousel({
    rtl:true,
    loop:true,
    margin:10,
    nav:true,
    stagePadding: 300,
    responsive:{
        0:{
            items:1,
          stagePadding: 0
        },
        600:{
            items:1,
            stagePadding: 0
        },
        1000:{
            items:2
            
        }
      
      
      
    }
})
</script>

